---
title: Imprint / Impressum
permalink: /documents/imprint/
redirect_from: /imprint/
---
<p>
    Jacobs University Bremen Alumni Association e.V.<br />
    Campus Ring 1<br />
    28759 Bremen<br />
    Germany / Deutschland
</p>

<p>
    <a href="mailto:board@jacobs-alumni.de">board@jacobs-alumni.de</a><br />
    <a href="https://jacobs-alumni.de">https://jacobs-alumni.de</a>
</p>

<p>
    Jacobs University Bremen Alumni Association e.V. is a non-profit association. <br />
    Jacobs University Bremen Alumni Association e.V. ist ein gemeinnütizger Verein.
</p>

<p>
    President / President: {% include_relative president.html %}<br />
    Vice-President / Vize-President: {% include_relative vice_president.html %}<br />
    Treasurer / Schatzmeister: {% include_relative treasurer.html %}<br />
    Secretary / Schriftführer: {% include_relative secretary.html %}<br />
    Accessors / Beisitzer: {% include_relative accessors.html %}
</p>

<p>
    Handelsregister <br />
    Amtsgericht Bremen, HRB 18117 <br />
    Steuer-Nr. 60 145 14056
</p>

<h2 id="disclaimer">Disclaimer</h3>

<p>
    Despite careful checking of our content we assume no liability for the content of external links. 
    The content of the linked pages are the sole responsibility of their operators.
</p>

<h3 id="haftungshinweis">Haftungshinweis</h2>

<p>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. 
</p>    

<h2 id="copyrightinformation">Copyright Information</h3>

<p>
    The content of this website is protected by copyright.
    All images and photos on the websites of Jacobs University Bremen Alumni Association e.V. may not be used, reproduced or distributed without permission.
</p>

<h3 id="informationenzumcopyright">Informationen zum Copyright</h2>

<p>
    Der Inhalt dieser Webseiten ist urheberrechtlich geschützt.
    Alle Abbildungen und Fotos auf den Webseiten der Jacobs University Bremen Alumni Association e.V. dürfen nicht ohne Genehmigung übernommen, vervielfältigt und verbreitet werden.
</p>
